<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <div id="app">
<!-- この#appの内側にテンプレートを書き込んでいく -->
    <p>{{ message }}</p>
    <div class="separator"></div>
<!-- 繰り返しの描画 -->
    <ol id="app">
      <li v-for="item in list">
        {{ item }}
      </li>
    </ol>
    <div class="separator"></div>
<!-- イベントの入力 -->
    <button v-on:click="handleClick" class="btn">click</button>
    <div class="separator"></div>
<!-- フォームと入力の同期 -->
    <p> {{ messageForm }}</p>
    <input v-model="messageForm">
    <div class="separator"></div>
<!-- フォームと入力の同期② -->
    <p> {{ count }} びきのこぶた</p>
    <p> すてきな　{{ count }} にんぐみ</p>
    <input v-model.number="count">
    <div class="separator"></div>
<!-- 条件分岐 -->
    <p v-if="show"> app.show=false をコンソールに入力すると消えます</p>
    <div class="separator"></div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>